@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  --color-background-dark: #0d0d0f;
  --color-background: #fafafa;
  --color-primary-accent-dark: #00bfff;
  --color-primary-accent: #2563eb;
  --color-secondary-accent-dark: #8b5cf6;
  --color-secondary-accent: #7c3aed;
  --color-text-primary-dark: #f5f5f5;
  --color-text-primary: #111827;
  --color-text-secondary-dark: #a1a1aa;
  --color-text-secondary: #6b7280;
  --font-headers: "Space Grotesk", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-bungee: "Bungee Outline", cursive;
}

@variant dark (&:where(.dark, .dark *));

@layer {
  body {
    @apply bg-background dark:bg-background-dark text-text-primary dark:text-text-primary-dark;
  }
}

@layer utilities {
  .max-container {
    @apply w-full max-w-[80rem] mx-auto p-4;
  }
  .button-gradient {
    @apply bg-gradient-to-r from-[#2563EB] to-[#7C3AED] dark:from-[#00bfff] dark:to-[#8b5cf6];
  }
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-background);
}

.dark ::-webkit-scrollbar-track {
  background: var(--color-background-dark);
}

::-webkit-scrollbar-thumb {
  background: var(--color-secondary-accent);
  border-radius: 6px;
  border: 2px solid var(--color-background);
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--color-secondary-accent-dark);
  border: 2px solid var(--color-background-dark);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary-accent);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary-accent-dark);
}

/* Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary-accent) var(--color-background);
}

html.dark * {
  scrollbar-color: var(--color-secondary-accent-dark)
    var(--color-background-dark);
} */
